@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&family=Poppins:wght@100&display=swap');

body {
	font-family: verdana;
	background-color: black;
}

a:hover {
	color: red;
}

#roosevelt {
	font-family: 'Poppins', sans-seriff;
	text-align: center;
	color: #ffff;
}

#top5 {
	font-family: 'Poppins', sans-seriff;
	text-align: center;
	color: #ffff;
}

h1, h2, h3, h5 {
	font-family: 'PT Sans', 'sans-seriff';
	color: #ffff;
	text-align: center;
}

ol {
	font-family: 'PT Sans', 'sans-serif';
	color: #ffff;
}

p {
	font-family: 'PT Sans', sans-seriff;
	text-align: center;
	color: #aaa;
}

input[type=button] {
	color: white;
	font-size: 24px;
	font-family: Calibri;
	background-color: dimgray;
	border: none;
	padding: 16px 32px;
}

input:hover[type=button] {
	color: dimgray;
	background-color: lightgray;
}