@font-face {
	font-family: 'Eternity';
	src: url("fonts/Humongous of Eternity St.ttf");
}

@font-face {
	font-family: 'SF Pro';
	src: url("fonts/SF-Pro.ttf");
}

body {
	font-family: "SF Pro", sans-serif;
	background-color:lightslategrey;
	text-align: center;
}

.title {
	text-align: center;
	color: white;
}

.minititle {
	text-align: center;
	color: ghostwhite;
}
p {
	text-align: center;
	color: white;
	/*background-color:dimgrey;*/
	alignment: center;
	width: 925px;
	min-width: 800px;
	max_width: 1200px;
	/*border-style: double;*/
	/*border-width: medium;*/
	padding: 5px;
	margin: 15px auto 15px auto;
}

li {
	border-style: groove;
	border-collapse: collapse;
	text-align: center;
	font-size: 1.05em;
	margin: 10px auto 10px auto;
	display: inline;
	padding: 5px;
	color: white;
}

.copyright {
	color: azure;
}

fieldset {
	color: white;
	width: 275px;
}

legend {
	font-size: 1.20em;
	font-weight: bolder;
	margin: 5px 5px;
	padding: 5px 5px;
	border-style: ridge;
}

input[type=text], input[type=password] {
	width: 75%;
	padding: 6px 6px;
	margin: 4px 0px;
}

button {
	color: whitesmoke;
	background-color: lightslategrey;
	border-style: ridge;
	padding: 5px 10px;
	margin: 4px 0px;
}

button:hover {
	background-color: darkgrey;
}

